.game-cover h3, p{
    z-index: 3;
}

.mask{
    background: rgba(155, 0, 0, 1);
}

.overlay{
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0, 0.45);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: 1;
}

