<div class="footer-container">
    <div class="footer">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='assets/img/Logo_1ink.svg') }}" alt="Logo">
        </a>
        <div class="contact-info">
            <div class="networks">
                <a href="">
                    <img src="{{ url_for('static', filename='assets/img/Youtube.svg') }}" alt="Youtube">
                </a>
                <a href="">
                    <img src="{{ url_for('static', filename='assets/img/Facebook.svg') }}" alt="Facebook">
                </a>>
            </div>
            <p class="p2 white">info@gamereport.com</p>
            <p class="p2 white">4140 Parker Rd. Allentown, New Mexico 31134</p>
        </div>
    </div>
</div>